table {
	margin: 0 auto;
}

tr {
	background: #eee;
}

td.state {
	color: #888;
}

tr.active td.state {
	color: #f00;
}

tr:first-child td {
	background: #bbb !important;
}

tr:nth-child(odd) {
	background: #ddd;
}

tr:hover td {
	background: #ccc;
}

tr.active td {
	background: #fdd;
}

tr.active:hover td {
	background: #fbb;
}

td {
	min-width: 100px;
	cursor: default;
}
